.BottomBar {
	background-color: rgb(40, 40, 40);
	border-radius: 25px;
	padding: 0.8em;
	position: fixed;

	margin: 0rem auto;

	left: 22%;
	bottom: 5%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 2rem;

	backdrop-filter: blur(25px);
	/* opacity: 0.8; */

	min-width: 50rem;
	cursor: pointer;
	/* border: 1px solid black; */
}

.BBimg {
	background-image: url("https://images.prismic.io/times-two/d0beebb5-f3a3-4928-a8d0-dae6bcdc0d05_Times+Two+-+Thumbnail.png?auto=compress,format&rect=0,0,800,800&w=160&h=160");
	padding: 2.5em;
	border-radius: 20px;

	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

.title {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 2rem;

	width: 100%;
}

.title h5 {
	font-size: 1.1rem;
}

.detail {
	opacity: 0.9;
	font-size: 1.1rem;
	position: relative;
	overflow: hidden;
	display: block;
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	cursor: pointer;
}

.detail span {
	display: block;
	-webkit-transition: -webkit-transform 500ms
		cubic-bezier(0.68, -0.55, 0.265, 1.55);
	transition: -webkit-transform 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
	transition: transform 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
	transition: transform 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55),
		-webkit-transform 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
	cursor: pointer;
}

.detail::after {
	cursor: pointer;
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	content: attr(data-hover);
	display: inline;
	-webkit-transition: top 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
	transition: top 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.BottomBar:hover .detail span {
	-webkit-transform: translateY(-100%);
	transform: translateY(-100%);
}

.BottomBar:hover .detail::after {
	top: 0;
}

.BottomBar:active {
	-webkit-animation-name: rubberBand;
	animation-name: rubberBand;
}

.BottomBar button {
	width: 11%;
	/* padding: 2.5em; */
	padding: 2em;
	border-radius: 20px;
	border: none;
	outline: none;
	cursor: pointer;

	background-color: transparent;
}

.buttonDiv {
	display: flex;
	flex-direction: column;
	gap: 0.2rem;
}

.buttonDiv > div {
	padding: 0.15em;
	background-color: white;
	border-radius: 12px;
}
